<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkkY3RVy-zNzAnaHiNrfQdTVIcW0pXrKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>203546729060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scanimals.Scanimals</string>
	<key>PROJECT_ID</key>
	<string>scanimals-e8edc</string>
	<key>STORAGE_BUCKET</key>
	<string>scanimals-e8edc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203546729060:ios:f070896012345cc036dd71</string>
</dict>
</plist>